@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager _navigationManager
@using System.Security.Claims

<nav class="navbar navbar-expand-md navbar-dark cus-z-index" style="width: -webkit-fill-available;">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="">TPharmacy</a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="@NavMenuCssClass navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link mr-auto" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item dropdown show">
                                <NavLink class="nav-link mr-auto dropdown-toggle" @onclick="() => expandShopNavSetting = !expandShopNavSetting">
                                    <span class="oi oi-cart" aria-hidden="true"></span> Shop
                                </NavLink>
                                @if (expandShopNavSetting)
                                {
                                <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandShopNavSetting = !expandShopNavSetting">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="" @onclick="@(() => NevigateToYourUrl("Supplement"))">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> Supplements
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="" @onclick="@(() => NevigateToYourUrl("Prescriptions"))">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> Prescriptions
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="" @onclick="@(() => NevigateToYourUrl("Sports"))">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> Sports
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="" @onclick="@(() => NevigateToYourUrl("Baby"))">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> Baby
                                    </NavLink>
                                </li>
                                </li>
                            }
                                </li>
                                <li class="nav-item mr-auto">
                                    <NavLink class="nav-link" href="consultations/cindex">
                                        <span class="oi oi-chat" aria-hidden="true"></span> Consultation
                                    </NavLink>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item dropdown show">
                                    <NavLink class="nav-link mr-auto dropdown-toggle" @onclick="() => expandShopNavSetting = !expandShopNavSetting">
                                        <span class="oi oi-cart" aria-hidden="true"></span> Shop
                                    </NavLink>
                                    @if (expandShopNavSetting)
                                    {
                                    <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandShopNavSetting = !expandShopNavSetting">
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="authentication/login">
                                            <span class="oi oi-align-left" aria-hidden="true"></span> Supplements
                                        </NavLink>
                                    </li>
                                    </li>
                                }
                                    </li>
                                    <li class="nav-item mr-auto">
                                        <NavLink class="nav-link" href="authentication/login">
                                            <span class="oi oi-chat" aria-hidden="true"></span> Consultation
                                        </NavLink>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                        </ul>
                    </div>
                </div>
                <div>
                    <ul class="navbar-nav ml-auto">
                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item dropdown show">
                                    <NavLink class="nav-link mr-auto dropdown-toggle" @onclick="() => expandInfoNavSetting = !expandInfoNavSetting">
                                        <span class="oi oi-info" aria-hidden="true"></span> Info
                                    </NavLink>
                                    @if (expandInfoNavSetting)
                                    {
                                    <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandInfoNavSetting = !expandInfoNavSetting">
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/cuspayments" Match="NavLinkMatch.All">
                                            <span class="oi oi-credit-card" aria-hidden="true"></span> Payment
                                        </NavLink>
                                    </li>
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/cusorderitems" Match="NavLinkMatch.All">
                                            <span class="oi oi-bookmark" aria-hidden="true"></span> OrderItems
                                        </NavLink>
                                    </li>
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/cusorders" Match="NavLinkMatch.All">
                                            <span class="oi oi-book" aria-hidden="true"></span> Orders
                                        </NavLink>
                                    </li>
                                    </li>
                                }
                                    </li>
                                    <li class="nav-item dropdown show">
                                        <NavLink class="nav-link mr-auto dropdown-toggle" @onclick="() => expandUserNavSetting = !expandUserNavSetting">
                                            <span class="oi oi-star" aria-hidden="true"></span> User Profile
                                        </NavLink>
                                        @if (expandUserNavSetting)
                                        {
                                        <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandUserNavSetting = !expandUserNavSetting">
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="@ccbblink" Match="NavLinkMatch.All">
                                                <span class="oi oi-people" aria-hidden="true"></span> Profile
                                            </NavLink>
                                        </li>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/debug" Match="NavLinkMatch.All">
                                                <span class="oi oi-bug" aria-hidden="true"></span> Debug
                                            </NavLink>
                                        </li>
                                        </li>
                                    }
                                        </li>
                                        <li class="nav-item mr-auto">
                                            <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                                                <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity.Name!
                                            </NavLink>
                                        </li>
                                        <li class="nav-item mr-auto">
                                            <NavLink class="nav-link" href="authentication/logout" Match="NavLinkMatch.All" @onclick="BeginSignOut">
                                                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                                            </NavLink>
                                        </li>
                                        <li class="nav-item mr-auto">
                                            <NavLink class="nav-link" href="shoppingcart" Match="NavLinkMatch.All">
                                                <span class="oi oi-cart" aria-hidden="true"></span>
                                            </NavLink>
                                        </li>
                                    </Authorized>
                                <NotAuthorized>
                                    <li class="nav-item mr-auto">
                                        <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                                            <span class="oi oi-person" aria-hidden="true"></span> Register
                                        </NavLink>
                                    </li>
                                    <li class="nav-item mr-auto">
                                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                                        </NavLink>
                                    </li>
                                    <li class="nav-item mr-auto">
                                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                                            <span class="oi oi-cart" aria-hidden="true"></span>
                                        </NavLink>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                        </ul>
                    </div>
                </div>
            </nav>

            @code {
                private bool collapseNavMenu = true;
                private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
                private bool expandShopNavSetting;
                private bool expandInfoNavSetting;
                private bool expandUserNavSetting;

                [CascadingParameter]
                public Task<AuthenticationState> AuthTask { get; set; }
                private ClaimsPrincipal user;

                string ccbblink = "";
                string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";


                protected async override Task OnInitializedAsync()
                {
                    if (AuthTask == null)
                    {
                        return;
                    }

                    try
                    {
                        var authState = await AuthTask;
                        this.user = authState.User;
                    }
                    catch (Exception ex)
                    {
                        // Handle exception
                    }
                    ccbblink = "profile/" + user.Identity.Name;

                }

                private void ToggleNavMenu()
                {

                    if (!expandShopNavSetting)
                    {
                        collapseNavMenu = !collapseNavMenu;
                    }
                }

                private async Task BeginSignOut(MouseEventArgs args)
                {
                    await SignOutManager.SetSignOutState();
                    Navigation.NavigateTo("authentication/logout");
                }

                private bool expandProductMenu2;
                void NevigateToYourUrl(string result)
                {
                    Console.WriteLine(result);
                    _navigationManager.NavigateTo("/cusproducts/" + result, true);
                }
            }